.recommendationMain {
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid black;
  padding: 10px;
  background-color: #edf2f4;
}
.stepList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
